#container {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-content: center;
}

.pad-bank {
	background-color: transparent;
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"Q W E"
		"A S D"
		"Z X C";
	gap: 10px;
	margin: 1rem;
}

#drum-machine {
	background: rgb(64, 64, 64);
	background: linear-gradient(
		to bottom,
		rgba(64, 64, 64, 0.5200280795912116) 0%,
		rgba(37, 37, 37, 0.979411833092612) 100%
	);
	display: flex;
	width: fit-content;
}
.drum-pad {
	font-size: 2rem;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.drum-pad.playing {
	background-color: rgb(255, 255, 119);
	border: 2px solid cyan;
}
.controls-container {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 3rem;
}
#display {
	outline: 3px solid red;
	border-radius: 5px;
	text-align: center;
	min-width: 120px;
	padding: 1rem;
	background-color: white;
}
.control {
	width: 60px;
	height: 30px;
	position: relative;
	background-color: white;
}
.control.on {
	background-color: green;
}
.control.off {
	background-color: red;
}
.switch {
	width: 20px;
	height: 30px;
	background-color: blue;
	position: absolute;
	transition: all 0.3s;
}
