#container {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}
#drum-machine {
  background: rgb(64, 64, 64);
  background: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 0.5200280795912116) 0%,
    rgba(37, 37, 37, 0.979411833092612) 100%
  );
  display: flex;
  max-width: fit-content;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.pad-bank {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "Q W E"
    "A S D"
    "Z X C";
  gap: 10px;
  margin: 1rem;
}

.drum-pad {
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 2rem;
}
.drum-pad.playing {
  background-color: rgb(255, 255, 119);
  outline: 2px solid cyan;
}
.controls-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin: 2rem;
}
#display {
  outline: 3px solid red;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  min-width: 120px;
  height: 60px;
  padding: 1rem;
  background-color: white;
}
.control {
  width: 60px;
  height: 30px;
  position: relative;
  background-color: white;
}
.control.on {
  background-color: green;
}
.control.off {
  background-color: red;
}
.switch {
  width: 20px;
  height: 30px;
  background-color: blue;
  position: absolute;
  transition: all 0.3s;
}

@media screen and (max-width: 600px) {
  #drum-machine {
    flex-direction: column;
  }
}
@media screen and (max-width: 370px) {
  .drum-pad {
    padding: 1rem;
    font-size: 1.5rem;
  }
}
